* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: rgba(51, 51, 51, 1);
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
